body {
    background-color: antiquewhite;
    font-family: fantasy;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav {
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    background-color:olivedrab;
    border-radius: 1rem;
}

nav a {
    display: inline;
    color:beige;
    text-decoration: none;
    padding: 10px;
}

section {
    display: flex;
}

section.content1 > article {
    display: block; 
    background: linear-gradient(transparent, black), url(./assets/main_banner.jpeg) 0 no-repeat scroll;
    background-size: cover;
    text-align: center;
    color: beige;
    font-weight: bold;
    border-radius: 1rem;
}

section.content2 > article {
    margin: 1rem;
    background-color:darkkhaki;
    border-radius: 0.5rem;
}

section.content2 > article {
    padding: 1rem;
}

section.content2 img {
    display: block;

    width: 100%;
}

article {
    flex: 1;
}

footer {
    display: flex;
    border-top: solid 2px black;
    padding-top: 1rem;
}

footer img {
    width: 50px;
}

footer div {
    flex: 1;
}
